<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32001">
      <setting label="32002" type="lsep"/>

      <setting id="uid" type="text" label="32003" default=""/>
      <setting id="sessdata" type="text" label="32004" default=""/>
      <setting id="buvid3" type="text" label="32008" default=""/>
      <setting label="32005" type="lsep"/>

      <setting label="32006" type="bool" id="vipstatus" default="false"/>
      <setting id="vipsessdata" type="text" label="32007" default=""/>
    </category>   
    <category label="32101">

    <setting label="32102" type="lsep"/>
    <setting label="32103" type="bool" id="baipiao" default="false"/>
    <setting label="32110" type="bool" id="cachestatus" default="false"/>

    <setting label="32104" type="lsep"/>
    <setting label="32105" type="bool" id="gaoaotaiswitch" default="false"/>
    <setting type="sep"/>
    <setting label="32106" type="bool" id="cdnswitch" default="false"/>
    <setting id="cdnreplace" type="text" label="32107" default="upos-hz-mirrorakam.acgvideo.com"/>

    <setting label="32108" type="lsep"/>
    <setting label="32109" type="bool" id="1080pplusswitch" default="true"/>
    </category>  
    <category label="32201">
    <setting label="32202" type="bool" id="damakustatus" default="false"/>
    <setting label="32203" type="folder" id="damakufolder" source="auto" option="writeable"/>
    </category>  

    <category label="32301">
    <setting label="32302" type="lsep"/>
    <setting label="32303" type="bool" id="accesskeyswitch" default="false"/>
    <setting id="accesskey" type="text" label="32304" default=""/>
    </category>
</settings>
